@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<link rel="stylesheet" href="~/css/FormSection-sesion.css" asp-append-version="true" />

<section id="FormSection-sesion">

    <div class=" container-form" id="Login">
        <div class="">
            <section>




                <form id="account" method="post" class="form_main">
                    <h1 class="heading">@ViewData["Title"]</h1>

                    <div class="inputContainer">
                        <i class="fa-solid fa-envelope inputIcon"></i>
                        <input asp-for="Input.Email" class="inputField" autocomplete="username" aria-required="true"
                            placeholder="Email" required>
                        <!-- Mensaje de validación -->
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="inputContainer">
                        <i class="fa-solid fa-lock inputIcon"></i>
                        <input asp-for="Input.Password" class="inputField" autocomplete="current-password"
                            aria-required="true" placeholder="Password" required>
                        <!-- Mensaje de validación -->
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="checkbox mb-3">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                    <button id="button" type="submit" class="w-100 btn btn-lg btn-primary">Iniciar sesion</button>

                    <!-- Enlace para recuperar contraseña -->
                    <a class="forgotLink" href="./ForgotPassword">Forgot your password?</a>

                    <!-- Enlace para registrarse -->
                    <a class="forgotLink" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new
                        user</a>

                    <!-- Enlace para confirmar email -->
                    @* <a class="forgotLink" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email
                confirmation</a> *@
                </form>





            </section>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }



</section>





                @* <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"
                placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password"
                aria-required="true" placeholder="password" />
                <label asp-for="Input.Password" class="form-label">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                <label asp-for="Input.RememberMe" class="form-label">
                <input class="form-check-input" asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
                </div>
                <div>
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                <p>
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
                <p>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </p>
                <p>
                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email
                confirmation</a>
                </p>
                </div>
                </form> *@